<!-- start custom head snippets -->
<link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    messageStyle: 'none'
  });
</script>
<script type="text/javascript">
  MathJax.Hub.Register.StartupHook("End",function () {
    var math_list = document.getElementsByClassName("MathJax_Display");
    for (var i = 0; i < math_list.length; ++i) {
//       var W = math_list[i].offsetWidth;
//       var w = math_list[i].childNodes[0].offsetWidth;
//       if (w > 0.95*W) {
//         math_list[i].style.fontSize = (95*W/w)+"%";
//       } else {
//         math_list[i].style.fontSize = "75%";
//       }
      math_list[i].style.fontSize = "0.75em";
    }
  });
</script>

{% if page.ad %}
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9893011123817910",
            enable_page_level_ads: true
       });
  </script>
{% endif %}

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="apple-mobile-web-app-title" content="JW's Blog">
<meta name="application-name" content="JW's Blog">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
