<!-- start custom head snippets -->
<link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    messageStyle: 'none'
  });
</script>
<script type="text/javascript">
  function resize_MathJax() {
    var math_list = document.getElementsByClassName("MathJax_Display");
    var W = document.getElementsByClassName("page__content")[0].offsetWidth;
    for (var i = 0; i < math_list.length; ++i) {
      var w = math_list[i].childNodes[0].offsetWidth;
      if (w > W*0.95) {
        math_list[i].style.fontSize = "50%";
      }
    }
  };
</script>
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
